@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

h1 {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}